
/* ===== SKILLS ===== */
.skills {
    background: whitesmoke;
    height: 130vh;
    width: 100%;
    text-align: center;
}

.coluna-main {
    height: 100vh;
    max-width: 84vw;
    background: #fff;
    margin: 50px auto 0 auto;
    border-radius: 20px;
    box-shadow: 10px 10px 20px black;
}

.coluna-centralizada {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.primeira-coluna {
    height: 100%;
    width: calc(100% / 3);
}

.primeira-coluna i {
    font-size: 5.3rem;
    margin-top: 50px;
}

.coluna i {
    font-size: 5.3rem;
    margin-top: 50px;
}

.coluna {
    height: 100%;
    width: calc(100% / 3);
    border-left: 1px solid rgb(207, 207, 207);
}

.colunm-title {
    margin-top: 30px;
    font-size: 2.5rem;
}

.colunm-p {
    font-size: 2rem;
    margin-top: 30px;
    vertical-align: inherit;
}

.colunm-p2 {
    font-size: 1.7rem;
    margin-top: 30px;
    vertical-align: inherit;
    font-weight: 700;
    color: #7510F7;
    font-family: "Raleway";
}

.git {
    color: red;
    text-decoration: none;
}

.skills-logo-up {
    height:100px;
    width: 100px;
    border-radius: 20px;
    margin: 20vh 10px 0px 40px;
}

.skills-logo {
    height:100px;
    width: 100px;
    border-radius: 20px;
    margin: 10px 10px 10px 40px;
    position: relative;
    bottom: 5vh;
}
/* ===== FIM SKILLS ===== */

/* ===== SLIDER ===== */
.main-slide {
    min-height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: whitesmoke;
    flex-wrap: wrap;
}

.carrosel-container {
    margin: 0 30px 0 30px;
    overflow: hidden;
    height: 250px;
    width: 540px;
    border-radius: 30px;
    box-shadow: 10px 10px 20px black;
}

.container-teste {
    display: flex;
    transition: transform 0.6s ease-in-out;
    transform: translateX(0);
}

.container-teste2 {
    display: flex;
    transition: transform 0.6s ease-in-out;
    transform: translateX(0);
}

.container-teste2 div {
    object-fit: cover;
    height: 250px;
    width: 540px;
}

.container-teste div {
    object-fit: cover;
    height: 250px;
    width: 540px;
}

.primeira, .segunda, .terceira, .quarta {
    display: flex;
    flex-direction: row; 
}

.primeira h2, .segunda h2, .terceira h2, .quarta h2 {
    font-size: 2rem;
    width: 540px;
    margin: 30px 0 0 0;
}

.primeira p {
    position: absolute;
    top: 30%;
    left: 150px;
    width: 360px;
    font-size: 1.7rem;
}

.segunda p {
    position: absolute;
    transform: translateX(540px);
    top: 30%;
    left: 150px;
    width: 360px;
    font-size: 1.7rem;
}

.terceira p {
    position: absolute;
    transform: translateX(1040px);
    top: 30%;
    left: 150px;
    width: 360px;
    font-size: 1.7rem;
}

.quarta p {
    position: absolute;
    transform: translateX(1580px);
    top: 30%;
    left: 150px;
    width: 360px;
    font-size: 1.7rem;
}

.primeira i, .segunda i, .terceira i, .quarta i{
    font-size: 8rem;
    color: #7510F7;
    margin: 70px 25px 0px 25px;
}

.titulo-slide {
    letter-spacing: 4px;
    font-size: 1.1rem;
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
} /* SLIDE FIM */ 

/* MEDIA QUERIES */

@media (max-height: 750px){
    .coluna-main{
        height: 120vh;
    }

    .skills{
        height: 150vh;
    }
}

@media (max-width: 1200px){
    .carrosel-container{
        margin-bottom: 5rem;
    }

    .carrosel-container:nth-child(1){
        margin-top: 5rem;
        
    }
}

@media (max-width: 950px){
    .coluna-main{
        padding-right: 40px;
        padding-left: 40px;
    }
    .primeira-coluna{
        padding-right: 30px;
    }
    .coluna:nth-child(2){
        padding-right: 30px;
        padding-left: 30px;
    }
    .coluna:nth-child(3){
        padding-left: 30px;
    }
    .colunm-p{
        font-size: 1.6rem;
    }
}

@media (max-width: 600px){
    .primeira p, .segunda p, .terceira p, .quarta p{
        width: 320px;
        font-size: 1.7rem;
    }
}

@media (max-width: 768px){
    .primeira-coluna{
        width: 100%;
        padding-right: 0px;
    }
    .coluna{
        display: none;
    }
    .coluna:nth-child(2){
        padding-left: 0;
        padding-right: 0;
    }
    .coluna:nth-child(3){
        padding-left: 0;
    }
    .coluna-main{
        padding-left: 0;
        padding-right: 0;
    }
}