/* -- header -- */

a {
    color: #fff;
    text-decoration: none;
}

.logo {
    font-size: 1.6rem;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.logo img{
    width: 40px;
    height: 40px;
}

.menu {
    height: 8vh;
    background-color: #1a1717;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border-bottom: solid 4px #3d3d3d;
}

header {
    position: sticky;
    top: 0px;
    z-index: 2;
}

.links {
    padding: 1vw;
    font-family: 'Montserrat', sans-serif;
    font-family: "Raleway";
 
}

.links:hover{
    border-bottom: solid 10px #fff;
}

.list {
    display: flex;
    list-style: none;
}

.list li {
    letter-spacing: 3px;
    font-size: 1.6rem;
}

/* MENU MOBILE */
.mobile-menu {
    cursor: pointer;
    display: none;
}

.mobile-menu div {
    width: 3vw;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

.list.active {
    transform: translateX(0);
}



.mobile-menu.active .linha1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .linha2 {
    opacity: 0;
  }
  
  .mobile-menu.active .linha3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }

@media (max-width: 999px) {
    body {
        overflow-x: hidden;
    }

   .list {
       position: absolute;
       right: 0;
       top: 8vh;
       width: 100vw;
       height: 92vh;
       background: #1a1717;
       display: flex;
       flex-direction: column;
       justify-content: space-around;
       align-items: center;
       transform: translateX(100%);
       transition: transform 0.3s ease-in;
   }  
   .list li {
       margin-left: 0;
       opacity: 0;
   }  
    .mobile-menu {
        display: block;
        position: absolute;
        right: 0;
        
    }
    .logo{
        margin-right: 200px;
        display: flex;
        align-items: center;
    }
}

/* FIM MENU MOBILE */