/* ===== SOBRE ===== */

.centralizar {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    transition: 1s;
    flex-direction: column;
    margin-top: 1rem;
}

.sobre-mobile-p p a {
    color: red;
}

.sobre-mobile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.sobre-mobile-img {
    height: 35rem;
}

.sobre-mobile-h2 {
    font-size: 2.6rem;
    transform: translateY(-3rem);
    font-family: "Lato";
}

.sobre-mobile-p {
    width: 90vw;
    transform: translateY(-2rem);
}

.sobre-mobile-p p {
    font-size: 1.6rem;
    text-align: center;
}

.sobre-btn-mobile {
    padding: 10px;
    margin: 0 auto 3rem auto;
    background-color: #1a1717;
    border: solid 2px white;
    color: #fff;
    cursor: pointer;
    font-family: "Raleway";
    font-size: 13pt;
}

.sobre-btn-mobile:hover {
    background: rgb(9, 170, 170);
    transition: 0.5s;
}

/* FIM SOBRE */

@media (max-width: 500px) {
    .sobre-mobile-p p {
        font-size: 1.2;
    }
}