/* ===== SOBRE ===== */

.centralizar{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    transition: 1s;
    flex-direction: column;
    margin-top: 1rem;
}

.box {
    width: 700px;
    height: 400px;
    position: relative;
    z-index: 1;
}

.box .circulo{
    width: 100%;
    height: 100%;
    background-color: #1a1717;
    border-radius: 5px;
    display: flex;
    align-items: center;
    clip-path: circle(180px);
}

.box img{
    position: absolute;
    height: 400px;
    left: 47%;
    top: 55%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.box .circulo:hover ~ img{
    left: calc(100% - 225px);
    top: calc(100% - 175px);
    height: 480px;
    transition: 1s;
}

.box .circulo:hover{
    clip-path: circle(500px);
    box-shadow: 50px 50px 10px black;
    transition: 1s;
}

.circulo .text{
    max-width: 300px;
    padding-left: 20px;
    padding-top: 10px;
    opacity: 0;
}

.circulo:hover .text{
    opacity: 1;
    transition: 1s;
}

.text h1{
    font-size: 3.6rem;
    color: white;
    margin-bottom: 20px;
}

.text p{
    font-size: 1.6rem;
    color: white;
    text-align: justify;
    margin-bottom: 20px;
} 

.text .btn{
    padding: 10px;
    background: white;
    color: #555;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
}

.text .btn:hover{
    letter-spacing: 2px;
}

.suporte-sobre{
    text-align: center;
    margin-bottom: 2rem;
}

.sobre-mobile-container{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.sobre-mobile-img{
    height: 35rem;
}

.sobre-mobile-h2{
    font-size: 2.6rem;
    transform: translateY(-6rem);
}

.sobre-mobile-p{
    width: 90vw;
    transform: translateY(-5rem);
}

.sobre-mobile-p p{
    font-size: 1.6rem;
    text-align: center;
}

/* FIM SOBRE */ 

@media (max-width: 900px){
    .box, .suporte-sobre{
        display: none;
    }

    .sobre-mobile-container{
        display: flex;
    }
}

@media (max-width: 500px){
    .sobre-mobile-p p{
        font-size: 1.2;
    }
}